* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    padding: 0 2rem;
}

.nav_bar .option {
    border: 2px solid red;
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav_bar .option .nav_ul1 {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 75%;
    padding: 10px 10px;
    border: 2px solid blue;
}

.nav_bar .option .nav_ul1 a {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}

.nav_bar .option .nav_ul1 a:hover{
    background-color: aquamarine;
}

.nav_register .nav_ul2{
    list-style-type: none;
    border: 2px solid red;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
   
}
.nav_register .nav_ul2 li{
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 20px;
    font-size: 20px;
}
.nav_register .nav_ul2 li a{
    text-decoration: none;
    color: black;
    /* padding: 5px 10px; */
}

.nav_register .nav_ul2 li:hover{
    background-color: aquamarine;
}

.nav_register .nav_btn{
    border: 2px solid yellow;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;

}
.nav_register {
    border: 2px solid blue;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_register .nav_btn button {
    background: #fcfcfc;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 25px;
    outline: none;
}
