*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar{
border: 2px solid red;
display: flex;
justify-content: space-between;
height: 4rem;
align-items: center;
padding: 0 2rem;
}


.nav_register{
    border: 2px solid blue;
    padding: 1rem 1rem;
}

.nav_register button,i{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
}